<a href="https://colab.research.google.com/github/sturu1/github-first/blob/master/2020_06_10%EC%98%A4%EC%A0%84%EC%88%98%EC%97%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# https://pypi.org/project/pytube3/
from pytube import YouTube

ModuleNotFoundError: ignored

오늘꺼는 다 파이썬으로

In [1]:
array= []
for i in range(0, 20, 2):
	array.append(i * i)

print(array)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [2]:
array = [ i * i for i in range(0, 20, 2)]
print(array)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

조건을 활용한 리스트 내포
리스트이름 = [ 표현식 for 반복자 in 반복할수잇는것 if 조건문]

In [3]:
array = ["사과", "자두", "초콜릿", "바나나", "체리"]
output = [fruit for fruit in array if fruit !="초콜릿"]
print(output)

['사과', '자두', '바나나', '체리']

enumerate()함수, items()함수 사용법 - 딕셔너리.items()

def 함수 이름():

------문장

In [4]:
def print_2_times():
	print("안녕하세요")
	print("안녕하세요")
 
print_2_times()

안녕하세요
안녕하세요

In [5]:
def print_n_times(value, n):
	for i in range(n):
		print(value)
  
print_n_times("인공지능", 10)

인공지능
인공지능
인공지능
인공지능
인공지능
인공지능
인공지능
인공지능
인공지능
인공지능

매개변수 넣지 않은 경우

매개변수를 더 많이 넣은 경우

가변 매개변수 - 매개변수를 원하는만큼 받을수잇는 함수


def 함수 이름 (매개변수, 매개변수,....., *가변 매개변수):

------문장

In [7]:
def print_n_times(n, *values):
	#n번 반복합니다
	for i in range(n):
		#values는 리스트처럼 활용
		for value in values:
			print(value)
		print()
  
print_n_times(3, "안녕하세요", "즐거운", "인공지능")

안녕하세요
즐거운
인공지능

안녕하세요
즐거운
인공지능

안녕하세요
즐거운
인공지능

기본 매개변수
매개변수 값 입력하지 않앗을 경우 매개변수에 들어가는 기본값

print(value,.., sep=' ', file=sys.stdout~~~~~

In [8]:
def print_n_times(value, n=2):
	for i in range(n):
		print(value)
  
print_n_times("경일대학교")

경일대학교
경일대학교

In [9]:
def print_n_times(value="안녕하세요" , n=2):
	for i in range(n):
		print(value)
  
print_n_times()

안녕하세요
안녕하세요

가변 매개변수가 기본 매개변수보다 앞에 올때


기본매개변수의 의미가 사라짐

In [10]:
def print_n_times(n=2, *values):
	for i in range(n):
		for value in values:
			print(value)
		print()
  
print_n_times("경일대학교", "안녕")
#정상임

TypeError: ignored

가변 매개변수가 기본 매개변수보다 앞에 올때

가변 매개변수가 우선됨

In [11]:
def print_n_times(*values, n=2):
	for i in range(n):
		for value in values:
			print(value)
		print()
  
print_n_times("경일대학교", 3)
print_n_times("경일대학교", n = 3)

경일대학교
3

경일대학교
3

경일대학교

경일대학교

경일대학교

기본 매개변수 중에서 필요한 값만 입력

여러 함수 호출 상태

In [12]:
def test(a, b=10, c=100):
	print(a + b + c)
 
test(10, 20, 30)
test(a=10, b=100, c=200)
test(c=10, a=100, b=200)
test(10, c=200)

60
310
310
220

리턴값 (return value)

함수의 결과

In [13]:
vlaue = input(">")

>2

자료없이 리턴하기

return 키워드: 함수를 실행햇던 위치로 돌아가게함

In [16]:
def return_test():
	print("A위치입니다.")
	return
	print("B위치입니다.")

return_test()

A위치입니다.

자료와 함께 리턴하기

리턴뒤에 자료 입력하면 자료 가지고 돌아감

In [17]:
def return_test():
	return 100

value = return_test()
print(value)

100

In [0]:
def return_test(n):
	return n * n

print(return_test(10))

In [18]:
def return_test():
	print("안녕하세요")
	return
	print("반갑습니다.")
 
value = return_test()
print(value)

안녕하세요
None

일반적인 형태

값을 만들어 리턴

def 함수(매개변수):


------변수 = 초깃값


------#여러가지 처리


------#여러가지 처리


------#여러가지 처리


------#여러가지 처리


------return 변수

범위 내부의 정수르 모두 더하는 함수

In [19]:
def sum_all(start, end):
	output = 0
	for i in range(start, end + 1):
		output += i
	return output

sum_all(50, 500)

sum_all(50, 100)

3825

기본 매개변수와 키워드 매개변수를 활용해 범위의 정수를 더하는 함수

In [0]:
def sum_all(start=0, end=100, step=1):
	output = 0
	for i in range(start, end + 1, step):
		output += i
	return output

sum_all()

100 * 101 / 2

100 * 101 //2

In [20]:
def f(x):
	return 2 * x + 1

f(1)

f(10)

21

In [21]:
def f(x):
	return x * x + 2 * x + 1

f(10)

121

In [0]:
def mul(*values):
	output = 1
	for value in values:
		output *= value
	return output

mul(5, 6, 7, 8)

mul(1, 1, 1, 1)

In [22]:
#오류발생하는 코드
def function(*values, valueA, valueB):
  pass
function(1, 2, 3, 4, 5)

TypeError: ignored

재귀 함수

팩토리얼 factorial()

반복문 팩토리얼

In [23]:
#함수 선언
def factorial(n):
  #변수 선언
	output = 1
  #반복문을 돌려 숫자를 더한다
	for i in range(1, n+1):
		output *= i
    #리턴
	return output

#변수 호출
factorial(10)

factorial(30)

265252859812191058636308480000000

재귀함수로 팩토리얼 구하기

n! = n * (n - 1) * (n -2) *

In [0]:
def factorial(n):
	if n == 0:
		return 1
	else:
		return n * factorial(n -1)

	
factorial(10)

피보나치 함수 fibonacci()

In [0]:
def fib(n):
	print("fib({})을 구합니다..".format(n))
	global counter
	counter += 1
	if n == 1:
		return 1
	if n == 2:
		return 1
	else:
		return fib(n-1) + fib(n-2)

counter = 0

fib(20)

메모화


같은 값을 한번만 계산하도록 코드 수정

In [0]:
def fibonacci(n):
	if n in dictionary:
		return dictionary[n]
	else:
		output = fibonacci(n-1) + fibonacci(n-2)
		dictionary[n] = output
		return output

	
fibonacci(10)

fibonacci(30)

fibonacci(50)

조기 리턴 early return

흐름 중간에 return사용