<a href="https://colab.research.google.com/github/sturu1/github-first/blob/master/2020_06%2C15_%EC%98%A4%ED%9B%84%EC%88%98%EC%97%852.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas 라이브러리

Series 자료형 만들어보기

In [5]:
import pandas as pd
s = pd.Series([1, 2, 3, 4, 5])
#내부 값 확인할때 , values 멤버 변수에 들어잇음
print(s.values)

#데이터 타입 확인
print(type(s.values))
print(s.dtypes)

[1 2 3 4 5]
<class 'numpy.ndarray'>
int64

In [6]:
#name이라는 속성(attribute) 안에 투플들 삽입
data = {'name': ['brian', 'brian', 'brian', 'andy'],
        'year': [2017, 2018, 2019, 2020],
        'points': [1.7, 3.6, 2.4, 2.9]
}

df = pd.DataFrame(data)
df

    name  year  points
0  brian  2017     1.7
1  brian  2018     3.6
2  brian  2019     2.4
3   andy  2020     2.9

# Series 자료를 DataFrame에 추가해보기

In [7]:
#시리즈 데이터 하나 만들기
val = pd.Series([4, 4.5, 3.0, 3.5])
#grade라는 속성(attribute)
df['grade'] = val
df

    name  year  points  grade
0  brian  2017     1.7    4.0
1  brian  2018     3.6    4.5
2  brian  2019     2.4    3.0
3   andy  2020     2.9    3.5

페이지 107쪽?? 모르겟음

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#주소가 이상...
addr = 'http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv'
red = pd.read_csv(addr, sep=';')

addw = 'http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv'
white = pd.read_csv(addw, sep=';')

print(type(red))

red['type'] = 0
white['type'] = 1
#데이터 개수 확인
print(len(red), len(white))

#두개의 데이터 병합
wine = pd.concat([red, white])
#합친 후 데이터 개수 확인
print(len(wine))

#histogram
#plt.hist(wine['fixed acidity'])
#plt.xticks([0, 1])
#plt.show()

#print (wine.info())

wine_norm = (wine - wine.min() / (wine.max() - wine.min())
wine_norm

SyntaxError: ignored