<a href="https://colab.research.google.com/github/sturu1/github-first/blob/master/2020_06_09%EC%98%A4%ED%9B%84%EC%88%98%EC%97%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

3장 42페이지

In [0]:
a = 100
b = 3.14
c = "KIU"
d = True

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [0]:
변수1 = 100
변수2 = 200
print(변수1 + 변수2)

300

In [0]:
a = 100
a = 200

print(a)

200

In [0]:
a = 100
a = "경일대학교"

print(a)
print(type(a))

경일대학교
<class 'str'>

In [0]:
a = 12
print(bin(a))           #0b는 이진수(bin)를 뜻한다.
print(oct(a))           #0o는 8진수(oct)를 뜻한다. 
print(hex(a))           #0x는 16진수(hex)를 뜻한다.

0b1100
0o14
0xc

In [0]:
print(int('10010011', 2))
print(hex(int('10010011', 2)))
print(int('93', 16))
print(bin(13))
print(bin(int('13', 16)))
print(bin(int('FF', 16)))

147
0x93
147
0b1101
0b10011
0b11111111

프로그램 2 의 완성

In [0]:
sel = int(input("입력 진수 결정(16/10/8/2): "))
num = input("값 입력: ")

if sel == 16:
  num10 = int(num, 16)
if sel == 10:
  num10 = int(num, 10)
if sel == 8:
  num10 = int(num, 8)
if sel == 2:
  num10 = int(num, 2)

print("16진수 ==>", hex(num10))
print("10진수 ==>", num10)
print("8진수 ==>", oct(num10))
print("2진수 ==>", bin(num10))

입력 진수 결정(16/10/8/2): 16
값 입력: FF
16진수 ==> 0xff
10진수 ==> 255
8진수 ==> 0o377
2진수 ==> 0b11111111

3-2

In [0]:
mode = int(input("진수를 선책(2/8/10/16중)=>"))
while(mode != 16 and mode != 10 and mode != 8 and mode != 2):
  print("다시 입력해주세요!")
  mode = int(input("진수를 선책(2/8/10/16중)=>"))

num = input("값 입력 =>")

if mode == 16:
  num10 = int(num, 16)
if mode == 10:
  num10 = int(num, 10)
if mode == 8:
  num10 = int(num, 8)
if mode == 2:
  num10 = int(num, 2)

print("16진수 ==>", hex(num10))
print("10진수 ==>", num10)
print("8진수 ==>", oct(num10))
print("2진수 ==>", bin(num10))

진수를 선책(2/8/10/16중)=>5
다시 입력해주세요!
진수를 선책(2/8/10/16중)=>10
값 입력 =>2
16진수 ==> 0x2
10진수 ==> 2
8진수 ==> 0o2
2진수 ==> 0b10

불형

In [0]:
a = (100 == 100)
print(a)

b = (100 != 100)
print(b)

type(a)

True
False

bool

문자열

In [0]:
a = '경일대학교'
b = '인공지능반'

print(type(a))
print(type(b))

print(a + b)

a= "인공지능반 '화이팅!'"
print(a)

<class 'str'>
<class 'str'>
경일대학교인공지능반
인공지능반 '화이팅!'

In [0]:
a = '파이썬 \n 만세'
b = """파이썬
만세"""

print(a)
print(b)

파이썬
 만세
파이썬
만세

63페이지

실전평가(64패이지)

In [0]:
print("경일대학교", end="")
print("홍길동")

경일대학교홍길동

In [0]:
x = int(input("첫 번쨰 정수:"))
y = int(input("두 번째 정수:"))
print(x + y)

if (x > y):
  max = x
else:
  max = y

print("큰 수 =>", max)

첫 번쨰 정수:10
두 번째 정수:2
12
큰 수 => 10

In [0]:
x = int(input("첫 번쨰 정수:"))
y = int(input("두 번째 정수:"))
sum = x + y
print(sum)

첫 번쨰 정수:10
두 번째 정수:20
30

In [0]:
print("나는" + str(21) + "살이다")

나는21살이다

In [0]:
x = input("x값 입력 = >")
y = input("y값 입력 = >")

print("교환전: x=", x, ", y=", y)
t = x
x = y
y = x
print("교환 후: x=", x , ", y=", y)

x값 입력 = >3
y값 입력 = >4
교환전: x= 3 , y= 4
교환 후: x= 4 , y= 4

8번 - 답 2번

In [0]:
print(int('000110', 2))

6

10번 - 33, 1

In [0]:
total = 100
number = 3
result = total//number
remain = total%number
print(result, remain)

33 1

11. int, int

12. myMoney//ticketPrice

12-1. myMoney%ticketPrice

13. init_money * (1+ interest) ** years

14. 2번째줄 PI를 pi로

4장 처음시작

10페이지 논리연산자

In [0]:
pil = int(input("필기시험 점수 =>"))
sil = int(input("실기시험 점수 =>"))

if (pil >= 60 and sil >= 80 ):
  print('합격')
else:
  print('불합격')

필기시험 점수 =>75
실기시험 점수 =>75
불합격

In [0]:
s1 = "100"

print(int(s1)+ 1)

print(float(s1)+ 1)

101
101.0

19페이지

In [0]:
money, c500, c100, c50, c10 = 0, 0, 0, 0, 0

money = int(input("교환할 돈은 얼마?"))

c500 = money // 500
money %= 500

c100 = money // 100
money %= 100

c50 = money // 50
money %= 50

c10 = money // 10
money %= 10

print("500원: , %d 개" % c500)
print("100원: , %d 개" % c100)
print("50원: , %d 개" % c50)
print("10원: , %d 개" % c10)
print("나머지: , %d 원" % money)

교환할 돈은 얼마?7777
500원: , 15 개
100원: , 2 개
50원: , 1 개
10원: , 2 개
나머지: , 7 원

23페이지

In [0]:
a = 100
b = 200
print(a == b, a != b)

if (a == b):  # a가 0이 아닌 다른 모든 값-> 참으로인식
  print("두 수는 같은")
else:
  print("두 수는 다름")

False True
두 수는 다름

26페이지 프로그램2

In [0]:
# 파이썬 파일에서는 가능 여기선왜 안되는지 모르겟음 아마 print가 안되서 그런듯
import turtle
import random

swidth, sheight, pSize, exitCount = 300, 300, 3, 0
r, g, b, angle, dist, curX, curY = [0] * 7

turtle.title('거북이가 맘대로 다니기')
turtle.shape('turtle')
turtle.pensize(pSize)
turtle.setup(width = swidth + 30, height = sheight +30)
turtle.screensize(swidth, sheight)

#꼭지점 찍는 코드 추가
turtle.penup()
turtle.goto(150, 150)
turtle.pendown()
turtle.dot(10)

turtle.penup()
turtle.goto(-150, 150)
turtle.pendown()
turtle.dot(10)

turtle.penup()
turtle.goto(150, -150)
turtle.pendown()
turtle.dot(10)

turtle.penup()
turtle.goto(-150, -150)
turtle.pendown()
turtle.dot(10)

turtle.penup()
turtle.goto(0, 0)
turtle.pendown()



while True:
  r = random.random()
  g = random.random()
  b = random.random()
  turtle.pencolor((r, g, b))

  angle = random.randrange(0, 360)
  dist = random.randrange(1, 100)
  turtle.left(angle)
  turtle.forward(dist)
  curX = turtle.xcor()
  curY = turtle.ycor()

  if (-swidth / 2 <= curX and curX <= swidth / 2) and ((-sheight / 2 <= curY and curY <= sheight / 2)):
    pass
  else:
    turtle.penup()
    turtle.goto(0, 0)
    turtle.pendown()

    exitCount += 1
    if exitCount >= 5:
      break

turtle.done()

TclError: ignored

In [0]:
a = 4
b =3
print(bin(a))
print(bin(b))
print(a & b)
print(a | b)
print(a ^ b)

0b100
0b11
0
7
7

In [0]:
print(10 & 7)
print(123 & 456)
print(0xFFFF & 0x0000)

2
72
0

In [0]:
a = ord('A')
b = 0x0F

print(a & b)
print(a | b)
print(bin(a | b))

1
79
0b1001111

In [0]:
a = 12345
print(~a)
print(~a + 1)

-12346
-12345

In [0]:
a = 10
print(bin(a))

b = ~a
print(bin(b))
print(bin(~a+1))

a = 10
print(bin(b))
print(bin(a))
a = a << 1
print(bin(a))
print(a)
a = a >>1
print(bin(a))

0b1010
-0b1011
-0b1010
-0b1011
0b1010
0b10100
20
0b1010

40페이지

In [0]:
a = 100
result = 0
i = 0

for i in range(1, 5):
  result = a << i
  print("%d << %d = %d" % (a, i, result))

for i in range(1, 5):
  result = a >> i
  print("%d >> %d = %d" % (a, i, result))

100 << 1 = 200
100 << 2 = 400
100 << 3 = 800
100 << 4 = 1600
100 >> 1 = 50
100 >> 2 = 25
100 >> 3 = 12
100 >> 4 = 6

5장 처음